@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: #185682;
}

.canvas {
  position: relative;
  z-index: 1;
  border: 1px solid #eee;
}

.generator-container {
  margin-top: 20px;
}

#bottom {
  position:fixed;
  left:10px;
  bottom:0px;
  height:120px;
  width:100%;
  overflow-y: scroll;
  background:#FFF;
  z-index: 100;
  border-top: 1px solid #d1d1d1;
}

.navbar-studio {
  background-color: #fff;
  border-bottom: 1px solid #d1d1d1;
  height: 70px;
}
.navbar-right {
  list-style-type: none;
  float: right;
}
.navbar-brand {
  float: left;
  margin: 10px 5px;
  font-weight: bold;
  font-size: 30px
}

ul {
  margin: 0px;
  padding: 0px;
}
li {
  display: inline;
}

.button {
  background-color: #185682; /* Blue */
  border: 1px solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.1s;
}
.button:hover {
    background-color: white;
    border: 1px solid #185682; /* Blue */
    color: #185682;
}

.sprite {
  max-height: 100px;
  max-width: 100px;
}
