@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

#bottom {
  position:fixed;
  left:10px;
  bottom:0px;
  height:120px;
  width:100%;
  overflow-y: scroll;
  background:#FFF;
  z-index: 100;
  border-top: 1px solid #d1d1d1;
}

.button {
  background-color: #185682; /* Blue */
  border: 1px solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.1s;
}
.button:hover {
    background-color: white;
    border: 1px solid #185682; /* Blue */
    color: #185682;
}

.sprite {
  max-height: 100px;
  max-width: 100px;
}
